.Rproj.user
.Rhistory
.RData
.Ruserdata
*pangenomeDB.txt
hap1.bed
sal_ref_filt.csv
sal_all_syntenicortho.csv
*.txt
pangenepropnyloss.pdf
syntenic_orthos_all.csv
hap1sal_nohap2_syn.csv
syntenic_orthos_all_synonly.csv
syntenic_orthos_sal.csv
